h1 {
  text-align: center;
  font-weight: 600;
}
.dialog-content {
  .infomation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    table {
      border-collapse: collapse;
      border: 1px solid palegoldenrod;
      td {
        border: 1px solid palegoldenrod;
        padding: 0 20px;
        height: 42px;
      }
      td:nth-child(1) {
        font-weight: 600;
      }
    }
  }
  .detail {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    .table-detail {
      border-collapse: collapse;
      border: 1px solid palegoldenrod;
      tr {
        th,
        td {
          border: 1px solid palegoldenrod;
          padding: 10px 20px;
          font-size: 20px;
        }
        th:nth-child(2),
        td:nth-child(2) {
          width: 300px;
        }
        th:nth-child(2),
        th:nth-child(3),
        td:nth-child(2),
        td:nth-child(3) {
          text-align: start;
        }
        th:not(:nth-child(2), :nth-child(3)) {
          text-align: center;
        }
        td:not(:nth-child(2), :nth-child(3)) {
          text-align: center;
        }
      }
    }
  }
}
