:host {
  flex-grow: 1;
  .container {
    width: 100%;
    .action-table {
      display: flex;
      justify-content: space-between;
      mat-form-field {
        width: 70%;
      }
      .action-button {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: flex-end;
        margin-right: 30px;
        button {
          padding: 5px 20px;
          mat-icon {
            display: none;
          }
        }

        button:hover {
          mat-icon {
            display: inline;
          }
        }
      }
    }
    table {
      width: 95%;
    }
  }
}
