<mat-list>
    <mat-list-item routerLink="/admin/order-list" routerLinkActive="active">
        Order
    </mat-list-item>
    <mat-list-item routerLink="/admin/reserve-list" routerLinkActive="active">
        Reserve Table
    </mat-list-item>
    <mat-list-item routerLink="/admin/customer-list" routerLinkActive="active">
        Customer List
    </mat-list-item>
    <mat-list-item routerLink="/admin/employee-list" routerLinkActive="active">
        Employee List
    </mat-list-item>
    <mat-list-item routerLink="/admin/food-list" routerLinkActive="active">
        Food
    </mat-list-item>
    <mat-list-item routerLink="/admin/ingredient-list" routerLinkActive="active">
        Ingredient List
    </mat-list-item>
    <mat-list-item routerLink="/admin/table-list" routerLinkActive="active">
        Table List
    </mat-list-item>
    <mat-list-item routerLink="/admin/type-party-list" routerLinkActive="active">
        Type Party List
    </mat-list-item>
    <mat-list-item routerLink="/admin/statistic" routerLinkActive="active">
        Statistics
    </mat-list-item>
</mat-list>