//
   Created by vinhnt on 6/16/2017.

extends layout

block content
    if code == "00"
        p(style="text-align: center")  Giao dịch thành công
    else
        p(style="text-align: center; color: red") Giao dịch thất bại
    p(style="text-align: center")
        a.btn.btn-default(onclick="javascript:window.open('about:blank','_self').close();") Close