<mat-toolbar>
    <div class="title" routerLink="/admin"><img src="/assets/images/logo.png" class="logo">{{title}}</div>
    <span class="spacer" id="spacer"></span>

    <button mat-button [matMenuTriggerFor]="account">Account</button>
    <mat-menu #account="matMenu">
        <div mat-menu-item style="display: flex;">
            <div id="user-avatar">
                <mat-icon>person</mat-icon>
            </div>
            <div id="user-name">
                {{userInfo?.name}}
            </div>
        </div>
        <button mat-menu-item routerLink="/admin/user-infomation">User Infomation</button>
        <button mat-menu-item routerLink="/admin/change-password">Change Password</button>
        <button mat-menu-item (click)="logout()">Log out</button>
    </mat-menu>
</mat-toolbar>