.footer {
  background: whitesmoke;
  padding-top: 50px;
  .footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .footer-item {
      .footer-contact-address {
        display: flex;
        justify-content: space-between;
        .location-icon {
          font-size: 120px;
          width: 120px;
          height: 150px;
        }
      }
    }
  }
  app-chat-bot {
    position: fixed;
    bottom: 100px;
    right: 30px;
    background-color: white;
    z-index: 3;
    cursor: pointer;
  }
  .go-top-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    mat-icon {
      font-size: 40px;
      height: 40px;
      width: 40px;
      color: dimgrey;
    }
    img {
      border-radius: 30px;
      cursor: pointer;
    }
  }
}
