<section>
    <div class="cart-container">
        <h1>Cart</h1>
        <div class="cart-infomation">
            <div class="order-1">
                <h1 *ngIf="foodList.rows.length && foodList.rows[0].ticket.table_id == 0">Shoping cart</h1>
                <h1 *ngIf="!(foodList.rows.length && foodList.rows[0].ticket.table_id == 0)">Order for table</h1>
                <div class="list" *ngFor="let foodItem of foodList.rows; let i = index">
                    <div class="infomation">
                        <img [src]="foodItem.food.image_url" [alt]="foodItem.food.name">
                        <div class="spacer"></div>
                        <div class="name-and-price">
                            <h2>
                                {{foodItem.food.name}}
                            </h2>
                            <div class="spacer"></div>
                            <mat-icon>close</mat-icon>
                            <h2>
                                <input type="number" name="quantity" id="quantity" [value]="foodItem.quantity" min="1"
                                    max="100" (change)="changeQuantity($event, foodItem.food.id)">
                            </h2>
                        </div>
                        <h2 class="total">
                            {{formatNumber(foodItem.food.price,foodItem.quantity)}}
                        </h2>
                        <mat-checkbox [checked]="foodChecked[i] ? 'true' : 'false'"
                            (change)="foodChecked[i] = !foodChecked[i]">
                        </mat-checkbox>
                        <mat-icon (click)="deleteIteminCart(foodItem.food.id)">delete</mat-icon>
                    </div>
                </div>
            </div>
            <div class="order-2" *ngIf="foodList.rows.length && foodList.rows[0].ticket.table_id == 0">
                <div class="delivery-container">
                    <h2 class="delivery-header">
                        Deliver to home
                    </h2>
                    <div class="delivery-content">
                        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="order-form">
                            <mat-form-field appearance="fill">
                                <mat-label>Phone</mat-label>
                                <input matInput type="text" formControlName="phone">
                                <mat-hint *ngIf="!phone.valid">Phone is required!</mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>City</mat-label>
                                <mat-select formControlName="city" (valueChange)="citySelected($event)">
                                    <mat-option *ngFor="let city of citiesList" [value]="city.code">
                                        {{city.name_with_type}}</mat-option>
                                </mat-select>
                                <mat-hint *ngIf="!city.valid">City is required!</mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>District</mat-label>
                                <mat-select formControlName="district" (valueChange)="districtSelected($event)">
                                    <mat-option *ngFor="let district of districtsList" [value]="district.code">
                                        {{district.name_with_type}}</mat-option>
                                </mat-select>
                                <mat-hint *ngIf="!district.valid">District is required!</mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Ward</mat-label>
                                <mat-select formControlName="ward">
                                    <mat-option *ngFor="let ward of wardsList" [value]="ward.path_with_type">
                                        {{ward.name_with_type}}</mat-option>
                                </mat-select>
                                <mat-hint *ngIf="!ward.valid">Ward is required!</mat-hint>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>Address</mat-label>
                                <input matInput type="text" formControlName="address">
                                <mat-hint *ngIf="!address.valid">Address is required!</mat-hint>
                            </mat-form-field>
                            <div>
                                <h3>Payments</h3>
                            </div>
                            <div class="payment">
                                <div class="payment-container {{!payWithVNPay ? 'active-payment' : ''}}"
                                    (click)="payWithVNPay = false">
                                    <img src="assets/images/payment1.png" alt="Payment">
                                </div>
                                <div class="payment-container {{payWithVNPay ? 'active-payment' : ''}}"
                                    (click)="payWithVNPay = true">
                                    <img src="assets/images/payment.jpg" alt="VN-Pay">
                                </div>
                            </div>
                            <div class="button-fields">
                                <button mat-raised-button type="button" color="accent"
                                    routerLink="/customer/reserse-table">Reserve a Table</button>
                                <button mat-raised-button type="submit" color="primary"
                                    [disabled]="!orderForm.valid && countFoodCheck()">
                                    Deliver to home
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>