<div class="screen">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="login-form">
        <h1>Change Password</h1>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="isHidePassword ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="isHidePassword = !isHidePassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isHidePassword">
                <mat-icon>{{isHidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint *ngIf="!password.valid">Password is required!</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Enter confirm password</mat-label>
            <input matInput [type]="isHidePassword ? 'password' : 'text'" formControlName="confirmPassword">
            <button mat-icon-button matSuffix (click)="isHidePassword = !isHidePassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isHidePassword">
                <mat-icon>{{isHidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint *ngIf="!confirmPassword.valid && !password.valid">Password confirm is required!</mat-hint>
            <mat-hint *ngIf="!confirmPassword.valid && checkNotMatchPassword()">Password not match!</mat-hint>
        </mat-form-field>
        <div class="button-fields">
            <button mat-raised-button color="primary"
                [disabled]="!changePasswordForm.valid || checkNotMatchPassword()">Change Password</button>
        </div>

    </form>
</div>