.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  .comment-form {
    .score {
      display: flex;
      justify-content: center;
      padding-bottom: 10px;
      .color-yellow {
        color: transparent;
        background: linear-gradient(to left, #d0ff00, #fff000);
        -webkit-background-clip: text;
      }
      .color-orange {
        color: transparent;
        background: linear-gradient(to left, #fff000, #fff000, #ff9900);
        -webkit-background-clip: text;
      }
      .color-red {
        color: transparent;
        background: linear-gradient(to left, #cb1c22, #cb1c22, #fff000);
        -webkit-background-clip: text;
      }
      mat-icon {
        font-size: 40px;
        width: 40px;
        height: 40px;
      }
      mat-icon:hover {
        transform: rotate(-15deg) scale(1.3);
      }
      .hide {
        display: none;
      }
    }
    .form-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      mat-form-field {
        width: 100%;
        textarea {
          height: 150px;
        }
      }
      .form-action {
        display: flex;
        justify-content: center;
        button {
          margin: 10px 20px;
        }
      }
    }
  }
}
