.container {
  background-color: palegoldenrod;
  padding: 50px 0;
  .content {
    display: flex;
    background-color: white;
    justify-content: flex-start;
    padding: 15px 0;
    app-dashboard {
      width: 300px;
    }
    .section {
      flex-grow: 1;
      display: flex;
      justify-content: flex-start;
      router-outlet {
        width: 30px;
      }
      *:nth-child(2) {
        flex-grow: 1;
      }
    }
  }
}
