<div class="container">
    <h1>Type Party Management</h1>
    <div class="action-table">
        <mat-form-field appearance="standard">
            <mat-label>Search Name</mat-label>
            <input matInput placeholder="Search Name" #input (blur)="search(input)">
            <mat-icon matSuffix (click)="search(input)">search</mat-icon>
        </mat-form-field>

        <div class="spacer"></div>
        <div class="action-button">
            <button mat-raised-button color="primary" (click)="addTypeParty()">New Type Party <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" #table matSort (matSortChange)="announceSortChange($event)">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id"> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn"
                    (click)="updateTypeParty(element.id)">Edit</button> </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon (click)="deleteTypeParty(element.id)">delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data"</td>
        </tr>
    </table>

    <mat-paginator #paginator [length]="typePartyList?.count" [pageSize]="10" [pageSizeOptions]="[10]"
        showFirstLastButtons (page)="loadPageData($event)" aria-label="Select page">
    </mat-paginator>

</div>